<div id="{{ map }}">
    <h2>{{ title }}</h2>
    <ul>
        <li>
            <a href="#{{namespace}}init">Initilisation Map</a>
        </li>
        <li>
            <a href="#{{namespace}}marker">Markers</a>
        </li>
        <li>
            <a href="#{{namespace}}polyline">Polylines</a>
        </li>
        <li>
            <a href="#{{namespace}}circle">Circles</a>
        </li>
    </ul>
</div>